body{
    margin: 0px;
    padding: 0px;
}

#header{
    background: black;
    display: flex;
    color: white;
    justify-content: space-between;
    align-items: center;
}


#header ul{
    display: flex;
    list-style: none;
    
}

#header a{
    text-decoration: none;
    color: white;
    display: flex;
    padding-right: 10px;
    padding-left: 10px;
    
}


#card01{
    background: rgb(0, 3, 3);
    height: 500px;
}




#card01 img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 5%;
}