@font-face {
    font-family: raleway;
    src: url(../Fontes/Raleway-Regular.ttf);
    font-weight: normal;
}/* Normal */
@font-face {
    font-family: raleway;
    src: url(../Fontes/Raleway-Black.ttf);
    font-weight: bold;
}/* Negrito */

*{
    font-family: "raleway", Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    color:#33A8DB;
}

h2{
    color: #33A8DB;
    letter-spacing: 2px;
    font-size: 35px;
}

body{
    margin: 0px;
    padding: 0px;
    background: black;
    color: white;
    
    
}



/* Parte 1 */
#p1 {
    height: 605px;
    border: 1px solid #33A8DB;
    background:
    url(./background-01.png),
    linear-gradient(#091b23,rgba(0, 0, 0, 1));
    background-origin: border-box;
}

#p1 img{
    
    padding: 20px;
    border-radius: 100%;
    background: radial-gradient(black, transparent)
}

#p1 button{
    width: 326px;
    height: 57px;
    background: transparent;
    color: #33A8DB;
    border: 2px solid #33A8DB;
    font-weight: bold;
    letter-spacing: 2px;
}

#p1 p{
    padding-left: 30%;
    padding-right: 30%;
}


/* Parte 2 */
#p2{
    height: 470px;
    border: 1px solid #33A8DB;
}

.msg{
    padding-left: 20%;
    padding-right: 20%;
}


#p2 b{
    color: #33A8DB;
}


#p2 ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    padding: 16px 127px;
}


#p2 li{
    width: 510px;
    height: 50px;
    margin-bottom: 20px;
    background: #252525;
    border: 2px solid #33A8DB;
    border-radius: 57px;
    list-style: none;
}


/* Parte 3 */
#p3{
    height: 363px;
    border: 1px solid #33A8DB;
    background: url(./background-02.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    
}

#p3 h2{
    padding:70px ;
    padding-left:60px ;
    font-size: 40px;
    height: 100%;
    width: 300px;
    color: white;
    text-shadow: 3px 3px #33A8DB;
}


/* Parte 4 */
#p4{
    height: 670px;
    border: 1px solid #33A8DB;
}

#p4 p{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 10px;
}



/* Parte 5 */
#p5{
    height: 170px;
    background: linear-gradient(black,#0a212b);
}

#p5 img{
    margin-top: 50px;
    filter: drop-shadow(5px 5px 3px black);
}

#p5 p a{
    color: blue;
    text-decoration: none;
}